<mat-list role="list">
  <div class="profile-card">
    <img
      src="https://angular.io/assets/images/logos/angular/angular.png"
      alt="no image"
    />
    <h2>Admin</h2>
    <h4>admin@gmail.com</h4>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Dashboard</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Institutions</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Students</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Placements</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Statistics</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Courses</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Employees</a
  >
</mat-list>
